body {
    margin: 0px;
    background-color: #877aa8;
 }


.topbar {
    background-color: #7a84a8;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: black;


}

.Rankings-Heading {

    display: inline;
    text-align: center;
    font-family: Trebuchet MS, sans-serif;
    margin: 10%;

}

ol {
    display: flex;
    flex-direction: column; /* Display items vertically */
    max-height: 100vh; /* Set a maximum height for the container */
    overflow-y: auto; /* Add vertical scroll when content overflows */
    padding-left: 0; /* Remove default padding on the list */
    margin: 50px; /* Remove any margin */
}



.Rankings {
    all: inherit
    /* border: none;
    background-color: #7a84a8;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
}


.label {
    margin-left: 20px;
}

.links {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;

}
.movie-columns {
    display: flex;
    flex-direction: row;
}

.movie-columns img {
    align-items: center;
    margin-left: 10%;
}

.movie-columns h1 {
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
}
.movie-columns p {
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10%;
    border: black;
}



li {
    margin-right: 20%;
    display: inline-block;

}
li:hover, .label:hover {
    transition: ease 200ms;
    color: darkblue;
}

.searchText {
    display: inline;
    text-align: center;
    /* padding: 20%; */
    font-family: Trebuchet MS, sans-serif;
}


.movieSearch {
    display: block;
    margin: 0px;
    text-align: center;
    height: 80%;
    padding-top: 5%;
    padding-bottom: 50%;

}

input {
    text-align: left;
    padding-left: 5px;
    border-radius: 15px;
    width: 400px;
    height: 30px;
    position: sticky;
    background-color: lightgray;

}