body {
    margin: 0px;
    background-color: antiquewhite;
 }


.topbar {
    background-color: burlywood;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: brown;


}

.label {
    margin-left: 20px;
}

.links {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;

}

li {
    margin-right: 20%;
    display: inline-block;

}
li:hover, .label:hover {
    transition: ease 400ms;
    color: darkblue;
}

.searchText {
    display: inline;
    text-align: center;
    /* padding: 20%; */
    font-family: Arial, Helvetica, sans-serif
}


.movieSearch {
    display: block;
    margin: 0px;
    text-align: center;
    height: 80%;
    padding-top: 5%;
    padding-bottom: 50%;

}

input {
    text-align: left;
    padding-left: 5px;
    border-radius: 15px;
    width: 400px;
    height: 30px;
    position: sticky;
    background-color: lightgray;

}