.App {
  text-align: center;
}

.homeScreen {
  display: flex;
  flex-direction: column;
}
.homeHeader {
  display: flex;
  justify-content: space-between ;
  align-items: center;
  width: 50%;
  margin-left: 45%;
  font-family: 'Impact', 'fantasy';
  font-size: 30px;
}

#MartaHeader {
  text-align: center;
}

#aboutMartaButton {
  text-align: end;
  background-color: inherit;
  border: none;
  margin-right: 2px;
}

.homeMainBottom {
  margin-top: 1%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: rgb(37, 37, 37);
  color: whitesmoke;
  padding-top: 3%;
  padding-bottom: 75%;
}

.routeSchedule {
  font-family: 'Impact', 'fantasy';
  display: flex;
  flex-direction: column;
  align-items: start;
}

.routeScheduleHeader {
  text-align: center;
}

.routeSchedule button {
  width: 100%;
  padding-top: 25px;
  border: none;
  border-bottom: 1px solid rgb(229, 229, 229);
  background-color: inherit;
  text-align: left;
  font-weight: 500;
  font-size: 20px;
  color: whitesmoke;
}


.buttonList {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.buttonList button {
  width: 150px;
  height: 30px;
}
.leftPart {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.loader-container {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  height: 100vh; /* 100% viewport height */
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#martaIMG {
  width: 20x;
  height: 20px;
  margin-right: 10px;
}

#mainImg {
  width: 200x;
  height: 250px;
  margin-right: 10px;
  margin-top: 20px;
}

.buttonList button {
  border-radius: 8px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-inline: 10px;
  background-color: white;
}

#northbound:hover {
  background-color: rgb(44, 44, 44);
  color: white;
}

#northbound:active {
  background-color: rgb(44, 44, 44);
  color: white;
}

#northbound:focus {
  background-color: rgb(44, 44, 44);
  color: white;
}

.colorLine {
  display: flex;
  justify-content: space-evenly;
  background-color: rgb(37, 37, 37);
  padding-top: 18px;
  padding-bottom: 18px;
}

.colorLine button {
  font-family: 'Poppins', sans-serif;
  font-size: medium;
  border: none;
  background-color: inherit;
  color: white;
  padding-inline: 2%; 
 padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 10px;
}
.colorLine button:hover {
  background-color: rgba(163, 163, 163, 0.539);
}


.MainInfo {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.stationList {
  display: flex;
  flex-direction: column;
  align-items: start;
  list-style: none;
  margin-left: 10px;
}

.arrow {
  width: 30px;
  height: 30px;
}
TrainList {
  align-items: center;

}

.aboutMarta {
  display: flex;
  flex-direction: column;
}

#aboutHeader {
display: flex;
flex-direction: row;
width: 55%;
justify-content: space-between;
padding-top: 10px;
padding-bottom: 80px ;
}

#homeButton {
  background-color: inherit;
  font-family: sans-serif;
  margin-left: 20px;
  font-size: larger;
  border: none;
  background-color: inherit;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 5px;
}

#aboutHeader h1 {
  font-family: 'Impact', 'Fantasy';
  font-size: 30px;
}

.aboutBottom {
  display: flex;
  flex-direction: row;
  position: relative;
}




#aboutImage {
  height: 400px;
  box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.346);
  position: absolute;
  z-index: 2;
}

.aboutInfo {
  background-color: rgb(44, 44, 44);
  color: whitesmoke;
  font-family: sans-serif;
  padding-left: 30%;
  top: 40px;
  left: 30%;
  position: absolute;
  text-align: ce;
  padding-right: 10px;
  padding-bottom: 30px;
  padding-top: 30px;
}

.heading {
  text-align: center;
}

#trainStops {
  padding-right: 5px;
}
.sideBar {
  background-color: rgb(37, 37, 37);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 250px;
}

.startdest {
display: flex !important;
flex-direction: row;
margin-bottom: -20px;
}


/* .sideBar {
  padding-bottom: 5px;
  margin-bottom: 10px;
  padding-left: 10%;
  padding-top: 10px;
  width: 30px;
  height: auto;
} */

NavBar {
  align-self:flex-end;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
.sideBar button {
  font-family: 'Poppins', sans-serif;
  font-size: medium;
  border: none;
  text-align: left;
  white-space: nowrap;
  background-color: inherit;
  color: white;
  padding-bottom: 10px;
  border-radius: 10px;
  padding-top: 5%;
  width: 220px;

}

#trainStops::first-letter {
  text-transform: capitalize;

}

.sideBar button:hover {
  background-color: rgba(163, 163, 163, 0.539);
}

.horizontalMain {
  display: flex;
  flex-direction: row;
  background-color: white;
  border-bottom: 1px solid;
  align-items: center;
  justify-content: space-between;
  font-weight: bold;
  margin-left: 10px;
  padding-left: 10px;
  width: 100%;
}


.trainInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Lucida Console", "Courier New", monospace;
}

#lineColor {
  border-radius: 4px;
  color: white;
  margin-right: 10px;
  padding-left: 14px;
  padding-right: 14px;
  font-size: 14px;
  padding-top: 4px;
  align-items: center;
  height: 18px;
}

.rightSide {
  display: flex;
  flex-direction: column;
  width: 70%;
}



#trainStops {
  font-family: Optima, sans-serif;
} 
#destination {
  font-family: Optima, sans-serif;
}

#destination::first-letter {
  text-transform:capitalize;
}

#colorTime {
  display: flex;
  flex-direction: row;
}

.arrow {
  padding-top: 10px ;
  margin-right: 10px; /* Adjust the margin to control the spacing between text and the arrow */
}

#number {
  background-color:lightgray;
  padding-inline: 10px;
  border-radius: 8px;
}
